/*banner_tit*/
p{
    margin: 0;
}
.cont_tit{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    height: 480px;
    top: 0;
}
.news_test{
    width: 1180px;
    position: absolute;
    left: 50%;
    margin-left: -590px;
    top: 100px;
}
.cont_news{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 360px;
    top: 480px;
}
.about_us{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-top: 58px;
    height: 400px;
}
.posi_us{
    position: absolute;
    width: 1180px;
    left: 50%;
    margin-left: -590px;
}
.tit_cont p{
    text-align: center;
}
.tit_cont p:first-child{
    font-size: 30px;
    color: #333;
    font-family: "Microsoft YaHei UI Light";
}
.tit_cont p:nth-child(2){
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 18px;
    font-family: "Source Code Pro";
}
.tit_cont p:last-child{
    margin-left: 178px;
    margin-top: 54px;
    max-width: 824px;
    font-size: 14px;
    color: #333;
    line-height: 1.8;
}
/*数据详情*/
.detail_data{
    box-sizing: border-box;
    width: 1180px;
    height: 164px;
    z-index: 99;
    border-radius: 6px;
    position: absolute;
    top: 210px;
    left: 50%;
    background-color: #fff;
    margin-left: -590px;
}
.detail_data ul{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.detail_data ul li{
    box-sizing: border-box;
    float: left;
    width: 290px;
    padding-left: 100px;
    padding-top: 40px;
    height: 100%;
}
.detail_data ul li div:first-child{
    position: relative;
    text-align: center;
}
.detail_data ul li div:first-child span:first-child{
    display: inline-block;
    color: #41d1aa;
    padding-right: 16px;
    font-size: 46px;
    font-family: "Microsoft YaHei UI Light";
}
.detail_data ul li div:first-child span:last-child{
    display: inline-block;
    color: #41d1aa;
    position: absolute;
    font-size: 14px;
    font-family: "Microsoft YaHei UI Light";
}
.detail_data ul li p{
    color: #999999;
    text-align: center;
}
/*发展历程*/
.develop{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 2000px;
    background-color: #f8f8f8;
}
.develop_tit p{
    text-align: center;
}
.develop_tit p:first-child{
    padding-top: 100px;
    font-size: 30px;
    color: #333;
    font-family: "Microsoft YaHei UI Light";
}
.develop_tit p:last-child {
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 18px;
    font-family: "Source Code Pro";
}
/*footer自定义距高*/
.connect_us{
    box-sizing: border-box;
    width: 100%;
    height: 470px;
    position: absolute;
    top: 2980px!important;
    background-color: #f8f8f8;
}
.beian{
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    position: absolute;
    top: 3450px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    line-height: 56px;
}
