body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0 0 !important;
    padding: 0 0 !important;
    min-width: 1903px;
    position: relative;
}
a{
    color: white;
    text-decoration: none;
}
ul li{
    list-style: none;
    margin: 0;
}
.tips_route{
    width: 1903px;
    height: 20px;
    margin-top: 20px;
}
.tips_route ul {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 1160px;
}
.tips_route ul li:first-child{
    color: #666;
}
.tips_route ul li{
    float: left;
    margin-left: 14px;
    font-size: 14px;
    color: #999;
}
.tips_route ul li:last-child{
    color: #41d1aa;
}
/*顶部header*/
.header{
    z-index: 99;
    top: 0;
    width: 100%;
    max-width: 1920px;
    margin: 0;
    height: 76px;
    background-color: rgba(9,22,40,0.6);
}
.header ul{
    height: 100%;
    margin: 0;
}
.header ul li{
    float: left;
}
.header ul li:nth-child(1){
     margin-left: 40px;
     margin-top: 15px !important;
 }
.header ul li:not(:first-child){
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box;/* Safari */
    height: 40px;
    width: 66px;
    text-align: center;
    margin-left: 30px;
    margin-top: 36px !important;
    color: #fff;
}
.header ul li:not(:first-child):hover{
    color: #41d1aa;
    border-bottom: solid 2px #41d1aa;
    cursor: pointer;
}
.t_right{
    float: right !important;
    margin-left: 4px!important;
}
.t_last{
    margin-right: 40px;
}
/*底部footer*/
.connect_us{
    box-sizing: border-box;
    width: 100%;
    height: 470px;
    position: absolute;
    top: 4734px;
    background-color: #f8f8f8;
}
.cu_tit p{
    text-align: center;
    margin: 0;
    padding: 0;
}
.cu_tit p:first-child{
    margin-top: 60px;
    color: #4d4d4d;
    font-size: 30px;
    font-family: 微软雅黑;
}
.cu_tit p:last-child{
    margin-top: 16px;
    color: #b3b3b3;
    font-size: 13px;
    font-family: 微软雅黑;
}
.cu_cont{
    width: 1180px;
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    left: 50%;
    margin-left: -590px;
    top: 100px;
}
.cc_first{
    width: 300px;
    display: inline-block;
    float: left;
}
.cc_first ul,.cc_second ul,.cc_third ul{
    padding: 0;
}
.cc_first ul li:first-child{
    font-size: 18px;
    color: #4c4c4c;
    margin-bottom: 50px;
}
.cc_first ul li,.cc_second ul li,.cc_third ul li{
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}
.cc_first ul li{
    padding-left: 40px;
}
.cc_second ul li,.cc_third ul li{
    padding-left:130px;
}
.cc_second{
    width: 300px;
    display: inline-block;
    float: left;
    margin-left: 120px;
}
.cc_second ul li:first-child{
    font-size: 18px;
    color: #4c4c4c;
    margin-bottom: 50px;
}
.cc_third{
    width: 300px;
    display: inline-block;
    float: left;
    margin-left: 120px;
}
.cc_third ul li:first-child{
    font-size: 18px;
    color: #4c4c4c;
    margin-bottom: 50px;
}
.beian{
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    position: absolute;
    top: 5204px;
    background-color: #333;
    text-align: center;
    line-height: 56px;
}
.beian p{
    color: #fff;
    margin: 0;
}
