/*banner_tit*/
p{
    margin: 0;
}
.cont_tit{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    height: 480px;
    top: 0;
}
/*支持与文档*/
.cont_product_tips{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 360px;
    top: 480px;
    background-color: #f8f8f8;
}
.tips_tit p:first-child{
    font-size: 30px;
    color: #333;
    font-family: "Microsoft YaHei UI Light";
    text-align: center;
    margin:0 0 0 0px !important;
}
.tips_tit p:last-child{
    font-size: 13px;
    color: #b3b3b3;
    margin-top: 18px;
    font-family: "Source Code Pro";
    text-align: center;
}
.service_cont{
    box-sizing: border-box;
    position: relative;
    margin-top: 60px;
}
.service_cont ul{
    box-sizing: border-box;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 1282px;
    height: 80px;
    left: 50%;
    margin-left: -641px;
}
.service_cont ul li{
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 320px;
    height: 100%;
    padding-left: 40px;
    border-right: solid 1px #999;
}
.service_li_img{
    display: inline-block;
    margin-top: 7px;
    width: 70px;
    height: 64px;
}
.service_li_text{
    display: inline-block;
    position: absolute;
    top: 0;
    height: 78px;
    padding-top: 14px;
    padding-left: 10px;
}
.service_li_text p:first-child{
    font-size: 16px;
    color: #333;
    font-family: "Microsoft YaHei UI";
}
.service_li_text p:first-child:hover{
    color: #41d1aa;
}
.service_li_text p:last-child{
    font-size: 16px;
    color: #999;
    font-family: "Microsoft YaHei UI";
    margin-top: 10px;
}
/*方案简介*/
.cont_product_summarize{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 720px;
    padding-top: 50px;
    top: 840px;
    background-color: #fff;
}
.summarize_tit p:first-child{
    font-size: 30px;
    color: #333;
    font-family: "Microsoft YaHei UI Light";
    text-align: center;
    margin:0 0 0 0px !important;
}
.summarize_tit p:last-child{
    font-size: 13px;
    color: #b3b3b3;
    margin-top: 18px;
    font-family: "Source Code Pro";
    text-align: center;
}
.summarize_cont{
    box-sizing: border-box;
    position: relative;
    margin-top: 70px;
}
.summarize_cont ul{
    box-sizing: border-box;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 1282px;
    height: 450px;
    left: 50%;
    margin-left: -641px;
}
.summarize_cont ul li{
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 1px 2px 8px #ccc;
    width: 286px;
    height: 100%;
    margin-left: 24px;
    transition:border-bottom 0.8s , transform 0.6s;
}
.summarize_cont ul li:hover{
    border-bottom: solid 2px #41d1aa;
    transform: translate3d(0,-20px,0);
}
.summarize_circle{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color:#666 ;
}
.summarize_down p{
    margin-top: 4px;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}
.summarize_down p:first-child{
    font-size: 16px !important;
    margin-top: 30px !important;
    margin-bottom: 4px;
    color: #333;
}
/*服务案例*/
.cont_product_function{
    position: absolute;
    width: 100%;
    height: 570px;
    top: 1560px;
    background-color: #f8f8f8;
    padding-top: 70px;
}
.cont_product_function p:first-child{
    font-size: 30px;
    color: #333;
    font-family: "Microsoft YaHei UI Light";
    text-align: center;
    margin:0 0 0 0px !important;
}
.cont_product_function p:last-child{
    font-size: 13px;
    color: #b3b3b3;
    margin-top: 18px;
    font-family: "Source Code Pro";
    text-align: center;
}
.case_cont{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin-top: 70px;
}
.case_cont:last-child{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin-top: 252px;
}
.case_cont ul{
    width: 1058px;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    margin-left: -529px;
    height: 145px;
}
.case_cont ul li{
    display: inline-block;
    float: left;
    width: 245px;
    height: 145px;
    margin-left: 26px;
}
.case_cont ul li div{
    width: 245px;
    height: 145px;
    text-align: center;
}
.case_cont ul li div img{
    display: inline-block;
    margin-top: 24px;
}
.case_cont ul li div p{
    margin-top: 16px;
    color: #333!important;
}
/*服务范围*/
.cont_product_advantage{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 910px;
    padding-top: 50px;
    top: 2130px;
    background-color: #fff;
}
.advantage_tit p:first-child{
    font-size: 30px;
    color: #333;
    font-family: "Microsoft YaHei UI Light";
    text-align: center;
    margin:0 0 0 0px !important;
}
.advantage_tit p:last-child{
    font-size: 13px;
    color: #b3b3b3;
    margin-top: 18px;
    font-family: "Source Code Pro";
    text-align: center;
}
.advantage_cont{
    position: absolute;
    box-sizing: border-box;
    margin-top: 60px;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
}
.advantage_img{
    box-sizing: border-box;
    float: left;
    width: 600px;
    display: inline-block;
    height: 690px;
    background-image: url("../../Public/img/service/map.png");
    background-repeat: no-repeat;
}
@keyframes warn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    75% {
        transform: scale(0.5);
        opacity: 0.6;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.0;
    }
}
@-webkit-keyframes warn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    75% {
        -webkit-transform: scale(0.5);
        opacity: 0.6;
    }
    100% {
        -webkit-transform: scale(0.9);
        opacity: 0.0;
    }
}
.container {
    position: relative;
    margin: 100px 100px;
    width: 60px;
    height: 60px;
}
/* 保持大小不变的小圆圈（绿色）  */
.dot {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 25px;
    top: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #41d1aa;
    background-color: #41d1aa;
    border-radius: 50%;
    z-index: 2;
}
/* 产生动画（向外扩散变大）的圆圈  */
.pulse {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 13px;
    top: 13px;
    border: 2px solid #41d1aa;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius:50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn 2s linear;
    -moz-animation: warn 2s linear;
    animation: warn 2s linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-direction:normal;
}
.pulse1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1px;
    top: 1px;
    border: 4px solid #41d1aa;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn 3s linear;
    -moz-animation: warn 3s linear;
    animation: warn 3s linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-direction:normal;
}
.pulse2 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: -14px;
    top: -14px;
    border: 4px solid #41d1aa;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn 3s linear;
    -moz-animation: warn 3s linear;
    animation: warn 3s linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-direction:normal;
}
.k_map1{
    position: absolute;
    left: 342px;
    top: 192px;
}
.k_map2{
    position: absolute;
    left: 354px;
    top: 52px;
}
.k_map3{
    position: absolute;
    left: 348px;
    top: 98px;
}
.k_map4{
    position: absolute;
    left: 354px;
    top: 117px;
}
.k_map5{
    position: absolute;
    left: 268px;
    top: 148px;
}
.k_map6{
    position: absolute;
    left: 314px;
    top: 110px;
}
.k_map7{
    position: absolute;
    left: 356px;
    top: 170px;
}
.k_map8{
    position: absolute;
    left: 322px;
    top: 170px;
}
.k_map9{
    position: absolute;
    left: 334px;
    top: 245px;
}

.advantage_data{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 690px;
    width: 598px;
    display: inline-block;
    position: relative;
}
.advantage_data ul{
    position: absolute;
    margin: 0 0 0 0 ;
    padding: 0;
    width: 400px;
    right: 0;
}
.advantage_data ul li span:first-child{
    margin-top: 60px;
    display: inline-block;
    min-width: 58px;
    font-size: 40px;
    color: #41d1aa;
}
.advantage_data ul li span:last-child{
    margin-top: 10px;
    font-size: 20px;
    color: #41d1aa;
}
.adv_hengxian{
    width: 58px;
    margin-top: 10px;
    border-top: solid 2px #41d1aa;
}
.adv_distri_data{
    display: inline-block;
    margin-top: 14px;
    color: #333;
    font-size: 14px;
}

/*footer自定义距高*/
.connect_us{
    box-sizing: border-box;
    width: 100%;
    height: 470px;
    position: absolute;
    top: 3040px!important;
    background-color: #f8f8f8;
}
.beian{
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    position: absolute;
    top: 3510px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    line-height: 56px;
}
